* {
  background-color: antiquewhite;
  padding: 20px;
  font-size: 26px;
  margin-right: 24px;
  color: saddlebrown;
  cursor: pointer-hand;
}
img {
  width: 150px;
  height: 150px;
}

button {
  border-radius: 26%;
}
